<%- include('partials/header.ejs') %>.


<div class="ui main text container segment">
    <div class="ui huge header">New Post</div>
    <form class = "ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title">
       </div>
       <div class="field">
        <label>Book Author</label>
        <input type="text" name="blog[author]" placeholder="author">
   </div>
   <div class="field">
    <label>Rating</label>
    <input type="number" step= "any" min="0" max="5" name="blog[rating]" placeholder="rating"/>
   </div>
       <div class="field">
        <label>Image</label>
        <input type="text" name="blog[image]" placeholder="image">
   </div>
   <div class="field">
    <label>Write your Review</label>
    <textarea name="blog[body]"></textarea>
</div>

      <input class="ui voilet basic button" type="submit">

    </form>
</div>



<%- include('partials/footer.ejs') %>.
